html, body, input, button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
  width: 100vh;
  font-size: 100%;
  vertical-align: baseline;
  word-break: break-word;
  box-sizing: border-box;
}

nav span {
  display: inline-block;
  padding-right: 40px;
}

nav span a {
  padding: 20px 10px;
}

.header {
  font-size: 14px;
  font-weight: bold;
  font-family: 'Verdana', sans-serif;

  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  background-color: white;
  border-bottom: 1px solid black;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 40px;
}

.logo span {
  color: MediumAquamarine;
  padding-left: 12px;
}

.content {
  display: flex;
  border: 1px solid blue;
}

.col {
  margin-top: 80px;
  justify-content: space-between;
  border: 1px solid blue;
}

.col.large {
  background-image: url("../img/img-story-main.png");
  background-repeat: no-repeat;
  width: 630px;
  margin-top: 0;
  font-size: 40px;
  text-align: left;
  color: white;
}

.col.medium {
  width: 300px;
  border: 1px solid blue;
}

.col.small {
  width: 240px;
  border: 1px solid blue;
}

div, h1, h2, span {
  border-top: 1px dotted black;
  border-bottom: 1px dotted black;
}

text-content {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
